input[type=text], select{
    width: 100%; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #00064E;
    color: white;
    padding: 18px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-weight: 600;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.form-wrapper{
    width: 40%;
    padding: 8px 16px;
    background-color: #B9BDE3;
    box-shadow: 3px 3px 6px #ccc;
}
